<aside class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0" [ngClass]="open ? 'translate-x-0' : '-translate-x-80'">
    <div class="relative border-b border-white/20">
        <a class="flex items-center gap-4 py-6 px-8" routerLink ="/">
            <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white uppercase">
                {{ siteName }}
            </h6>
        </a>
        <button (click)="toggleSidebar.emit()" class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <mat-icon aria-hidden="false" aria-label="icon cancel" fontIcon="cancel"></mat-icon>

            </span>
        </button>

    </div>


    <div class="m-4">
        <ul class="mb-4 flex flex-col gap-1">
        <li>
            <a aria-current="page"   routerLink="/dashboard">
                <button routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]" 
                    class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
                    <mat-icon aria-hidden="false" aria-label="icon dashboard" fontIcon="dashboard"></mat-icon>
                <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">dashboard</p>
                </button>
            </a>
        </li>

        <li>
            <a class="" routerLink='/clientes'>
            <button routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
                <mat-icon aria-hidden="false" aria-label="icon factory" fontIcon="factory"></mat-icon>

                <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">Clientes</p>
            </button>
            </a>
        </li>
        </ul>
        <ul class="mb-4 flex flex-col gap-1">
        <li class="mx-3.5 mt-4 mb-2">
            <p class="block antialiased font-sans text-sm leading-normal text-white font-black uppercase opacity-75">---</p>
        </li>
        
        <li>
            <a class="" href="/logout">
            <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
                <mat-icon aria-hidden="false" aria-label="icon exit_to_app" fontIcon="exit_to_app"></mat-icon>

                <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">Cerrar sesión</p>
            </button>
            </a>
        </li>
        </ul>
    </div>
</aside>