/* Structure */
table {
  width: 100%;
  border: 1px solid #e0e0e0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.data-table-container {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  //max-width: 900px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .data-table-container {
    width: 100%;
  }
}

button {
  margin: 0 4px;
}
table th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
}
table td {
  
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
